<header class="bg-white shadow">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <div class="text-xl font-bold">
      <a routerLink="/inicio">
        <img src="assets/logov.svg" alt="Logotipo" class="h-10">
      </a>
    </div>
    <nav class="txt_color_font font-medium ">
      <a routerLink="/inicio">Inicio</a>
      <a routerLink="/servicios">Servicios</a>
      <a routerLink="/proyectos">Proyectos</a>
      <a routerLink="/testimonios">Testimonios</a>
      <a routerLink="/contacto">Contacto</a>
    </nav>
  </div>
</header>
